In [2]:
import pandas as pd
cpl = pd.read_csv('CitiesInPoland.csv', sep=';')
cpl

             City          Region            Province Areakm2  Population
0     Bolesławiec   bolesławiecki        dolnośląskie   23,57       39464
1    Nowogrodziec   bolesławiecki        dolnośląskie    16,1        4227
2         Bielawa  dzierżoniowski        dolnośląskie   36,21       30987
3     Dzierżoniów  dzierżoniowski        dolnośląskie   20,07       34168
4         Niemcza  dzierżoniowski        dolnośląskie   19,81        3107
..            ...             ...                 ...     ...         ...
911   Świnoujście  Świnoujście[a]  zachodniopomorskie  197,23       41276
912        Człopa         wałecki  zachodniopomorskie    6,27        2345
913   Mirosławiec         wałecki  zachodniopomorskie    2,17        3040
914        Tuczno         wałecki  zachodniopomorskie    9,21        1956
915         Wałcz         wałecki  zachodniopomorskie   38,17       26033

[916 rows x 5 columns]

In [60]:
pd.set_option('display.max_rows', None)
cpl.query("Province=='małopolskie' and Region=='tarnowski'")

           City     Region     Province Areakm2  Population
321  Ciężkowice  tarnowski  małopolskie    9,99        2496
322      Radłów  tarnowski  małopolskie   16,83        2766
323     Ryglice  tarnowski  małopolskie   25,15        2870
324      Tuchów  tarnowski  małopolskie    18,1        6724
325     Wojnicz  tarnowski  małopolskie     8,5        3401
326   Zakliczyn  tarnowski  małopolskie    4,02        1661
327       Żabno  tarnowski  małopolskie   11,13        4214